body{
 background-image: url('assets/img/bg.jpg');

}
.footer{
  font-size: 16px;
  font-color : white;
  font-family: monospace;
  font-weight: bold;
  background-color: #121011;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
}
.footer p{
  text-align: center;
}
.imgku{margin: auto;}
.cursor{cursor: pointer;}

small{
  color: maroon;
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
}
.navigasi .container-fluid{
      background-color: #121011
}
.navbar-right li a{
  color: #ecfdea !important;
}
.navbar-right li a:hover{
  background-color: #3399ff !important;
}
.dropdown .dropdown-menu{
  background-color: #121011;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #3399ff !important;
}
th{
  text-align: center;
}
.btntambah{
  margin-bottom: 20px;
}